@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-SIB-blue: #0057e3;
  --color-SIB-black: #1e3157;
  --color-SIB-blue-hover: #066AFF;
}

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/* Hide scrollbar by default*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Show scrollbar only when scrolling */
:hover::-webkit-scrollbar-thumb,
:focus::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 20px;
}

:hover::-webkit-scrollbar-thumb:hover,
:focus::-webkit-scrollbar-thumb:hover,
:active::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover,
*:focus,
*:active {
  scrollbar-color: #d1d5db transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
